body{
    font-family: Arial;
    margin:50px;
    text-align:center;
}
input{
    width:300px;
    padding:10px;
}
button{
    padding:10px 20px;
    margin-left:10px;
}
#reply{
    margin-top:20px;
    font-size:20px;
    color:blue;
}